@import 'theme';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@import 'fonts';

body {
  font-family: 'Proxima Nova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1e1f21;
  position: relative;
}

// global style elements for future use

.mark {
  background: $main-green;
  color: $main-black;
}

.section {
  margin-top: 240px;
  margin-bottom: 240px;
  display: inline-block;
}

section {
  max-width: 375px;
  padding: 0 20px;
  margin: 80px auto;

  @include tablet-and-up {
    max-width: 768px;
    padding: 0 30px;
    margin: 120px auto;
  }

  @include desktop-and-up {
    max-width: 1440px;
    padding: 0 120px;
    margin: 240px auto;
  }
}

.green-title {
  color: $main-green;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 140%;
  color: $main-black;
}

.title-global {
  font-weight: 900;
  font-size: 24px;
  
  line-height: 140%;
  text-transform: uppercase;

  @include tablet-and-up {
    font-size: 48px;
  }

  @include desktop-and-up {
    font-size: 56px;
    text-align: left;
  }
}

.title-big {
  color: $main-black;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 16px;

  @include tablet-and-up {
    font-size: 56px;
    margin-bottom: 24px;
  }

  @include desktop-and-up {
    margin-bottom: 40px;
    font-size: 70px;
  }
}

.text-main {
  color: $main-black;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;

  @include tablet-and-up {
    font-size: 20px;
  }

  @include desktop-and-up {
    font-size: 26px;
  }
}

.text {
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
}
