// fonts
$fs-56: 3.5rem;
$fs-36: 2.25rem;
$fs-34: 2.125rem;
$fs-32: 2rem;
$fs-31: 1.938rem;
$fs-30: 1.875rem;
$fs-28: 1.75rem;
$fs-26: 1.65rem;
$fs-24: 1.5rem;
$fs-22: 1.38rem;
$fs-20: 1.25rem;
$fs-18: 1.125rem;
$fs-16: 1rem;
$fs-14: 0.88rem;
$fs-12: 0.75rem;

$fw-900: 900;
$fw-700: 700;
$fw-600: 600;
$fw-400: 400;

$button-border-radius: 54px;

// transition
$transition-time: 0.3s;

// layout
$phone-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

// header
$header-height: 97px;
